@tailwind base;
@tailwind components;
@tailwind utilities;

/* add the global stylr you like using tailwindCss or css*/
@layer base {
  /* h1 {
    @apply font-extrabold bg-primary-darkCyan text-red-600 min-w-max text-2xl	;
    
  }
  h2 {
    @apply text-xl;
  } */
  /* ... */
}

*{
  box-sizing: border-box;
}
html {
  width: 100%;
  /* height: 100%; */
  /* background-color: hsl(0, 0%, 42%); */
  background-color: hsl(30, 38%, 92%);

}
